<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left flex-center">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h2>¡Hola!</h2>
            <p>Bienvenido de vuelta 😀</p>
            <!-- <input type="submit" name="" value="Registro"/><br/> -->
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Mis Datos</h3>
                    <div class="row register-form">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Usuario *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            <p>No tenés una cuenta? <a href="signup">Registrate.</a></p>
                            <a id="recoverPasswordBtn" href="/recover">Olvidaste tu contraseña?</a>
                            <input type="submit" class="btnRegister" style="background-color: #2bb35f;"  value="Ingresar"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>