<!DOCTYPE html>
<html>
  <head>
    <title>Turnos</title>
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
    /></noscript>
    <link
      rel="shortcut icon"
      href="../assets/images/mbr-80x79.png"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/formStyles.css" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../assets/bootstrap/css/bootstrap-grid.min.css"
    />
    <link
      rel="stylesheet"
      href="../assets/bootstrap/css/bootstrap-reboot.min.css"
    />
    <link rel="stylesheet" href="../assets/dropdown/css/style.css" />
    <link rel="stylesheet" href="../assets/socicon/css/styles.css" />
    <link rel="stylesheet" href="../assets/theme/css/style.css" />
    <link
      rel="preload"
      href="../https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
      as="style"
      onlo
    />
    <link
      rel="preload"
      as="style"
      href="../assets/mobirise/css/mbr-additional.css"
    />
    <link
      rel="stylesheet"
      href="../assets/mobirise/css/mbr-additional.css"
      type="text/css"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />
  </head>
  <style>
  </style>
  <section
  data-bs-version="5.1"
  class="menu menu2 cid-sMwy5sRyyc"
  once="menu"
  id="menu2-7"
>
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
      <div class="navbar-brand">
        <span class="navbar-logo">
          <a href="./">
            <img
              src="../assets/images/mbr-80x79.png"
              alt="Mobirise"
              style="height: 3rem"
            />
          </a>
        </span>
        <span class="navbar-caption-wrap"
          ><a href="/" class="navbar-caption text-black display-7"
            >Taller</a
          ></span
        >
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-bs-toggle="collapse"
        data-target="#navbarSupportedContent"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          class="navbar-nav nav-dropdown nav-right"
          data-app-modern-menu="true"
        >
          <li class="nav-item">
            <a href="/signup" class="nav-link link text-black display-4"
              >Registrarse</a
            >
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link link text-black display-4">Ingresar</a>
          </li>
          <li class="nav-item">
            <a href="/#servicios" class="nav-link link text-black display-4"> Servicios</a>
          </li>
          <li class="nav-item">
            <a href="/#contacto" class="nav-link link text-black display-4">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="/nosotros" class="nav-link link text-black display-4">Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

  <body style="background: -webkit-linear-gradient(left, #3931af, #00c6ff)">
    <div id="turno" class="container register">
      <div class="row">
        <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3 class="register-heading">Elegir Turno</h3>
              <div class="row register-form">
                <div class="col-md-12">
                  <select
                    class="form-select form-group"
                    aria-label="Seleccionar Taller"
                  >
                    <option selected>Seleccionar Taller</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                  <label for="birthdaytime">Fecha y Hora deseada</label>
                  <input
                    type="datetime-local"
                    id="birthdaytime"
                    name="birthdaytime"
                  />
                  <select
                    class="form-select form-group"
                    aria-label="Seleccionar Taller"
                  >
                    <option selected>Seleccionar Servicio</option>
                    <option value="1">Mecanica</option>
                    <option value="2">Pintura Automotriz</option>
                    <option value="3">Escáner de fallas</option>
                  </select>
                  <input
                    type="submit"
                    class="btnRegister"
                    style="background-color: #2bb35f"
                    value="Ok"
                    id="btnTurno"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="pay"
      class="container register"
      style="display: none"
    >
      <div class="row">
        <div class="col-md-9 register-right" style="position: relative;">
          <i id="backArrow" class="fas fa-arrow-left fa-3x" style="position: absolute; left: 70px; top: 30px; cursor: pointer;"></i>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3 class="register-heading">Medio de Pago</h3>
              <div class="row register-form">
                <div class="col-md-12">
                  <select
                    class="form-select form-group"
                    aria-label="Seleccionar Metodo"
                  >
                    <option selected>Seleccionar Metodo</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Tarjeta de Credito</option>
                    <option value="3">Debito</option>
                  </select>
                  <input
                    type="submit"
                    class="btnRegister"
                    style="background-color: #2bb35f"
                    value="Ok"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      var submit = document.getElementById("btnTurno");
      submit.addEventListener("click", () => {
        document.getElementById("pay").style.display = "block";
        document.getElementById("turno").style.display = "none";
      });
      var backArrow = document.getElementById("backArrow");

      backArrow.addEventListener("click", ()=>{
        document.getElementById("pay").style.display = "none";
        document.getElementById("turno").style.display = "block";
      })
    </script>
  </body>
</html>
