<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="./css/style.css" />
    <%- include ('partials/_head.html')%>
  </head>
  <body>
    <%- include ('partials/_nav.html')%>
    <div class="container-fluid" style="margin-top: 2%">
      <h1 class="text-center">Mis Datos</h1>
      <div class="row">
        <div class="col-md-2">
          <img src="assets/images/profile.jpg" alt="Foto de perfil" width="" />
        </div>
        <div class="profile-actions col-md-10 d-flex justify-content-center flex-column">
          <h2>Agustin Broz Arias</h2>
          <a id="delAcc" href="#">Eliminar Cuenta</a>
          <a href="#">Logout</a>
          <a href="">Cambiar Contraseña</a>
        </div>
      </div>
      <hr>
      <h1 class="text-center">Mis Turnos</h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Servicio</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Taller</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td>1</td>
                <td>Lavado</td>
                <td>22/10/2021</td>
                <td>Pendiente</td>
                <td>
                  <i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                  <i class="far fa-window-close"></i>
                </td>
              </tr>
              <tr class="table-success">
                <td>2</td>
                <td>Estetica, Lavado</td>
                <td>20/9/2021</td>
                <td>Realizado</td>
                <td>
                  <i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                  <i class="far fa-trash-alt"></i>
                </td>
              </tr>
              <tr class="table-danger">
                <td>3</td>
                <td>Mecanica</td>
                <td>27/10/2021</td>
                <td>Cancelado</td>
                <td>
                  <i class="fas fa-external-link-alt"></i>
                </td>
                <td>
                  <i class="far fa-trash-alt"></i>
                  <span>|</span>
                  <i class="fas fa-redo"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-2">
              <a href="/turnos/new"><button type="button" class="btn btn-success">Pedir Turno</button></a>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h1 class="text-center">Mis autos</h1>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Motor</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td>1</td>
                <td>Chevrolet</td>
                <td>Cruze</td>
                <td>2021</td>
                <td>
                  Blanco
                </td>
                <td>
                  Turbo - 153 CV
                </td>
                <td>
                  <i class="far fa-trash-alt"></i>
                  <span>|</span>
                  <i class="far fa-edit"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-2">
              <a href="cargarAuto"><button type="button" class="btn btn-success">Cargar auto</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="popup" class="popup">
      <div class="popup-content">
        <div id="close-popup"class="d-flex align-items-center justify-content-end">
          <i class="fas fa-times close-popup"></i>
        </div>
        <div class="row">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quis
            dolorem doloremque expedita cum possimus sed sint. Quam quos tenetur
            reprehenderit, velit, quod quia ea repellat aut molestiae eum
            tempora? Itaque assumenda explicabo harum ratione vel voluptatum,
            deserunt culpa voluptates nostrum nam dicta quibusdam dolorem,
            adipisci animi totam! Natus nisi quo ut fugiat, earum repudiandae
            laborum quae deleniti voluptatibus dolorum?
          </p>
        </div>
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-6">
            <label for="confirm" style="cursor: pointer; display: inline-block;"
              >Borrar Cuenta
              <input type="checkbox" id="confirm" style="cursor: pointer" />
            </label>
          </div>
          <div class="col-md-6 d-flex">
            <input class="flex-grow-1" type="password" placeholder="Escriba su contraseña" />
            <input class="btn" type="submit" value="Confirmar" style="margin: 0 7px; background-color: rgb(228, 120, 120);">
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
