<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/formStyles.css">
    <%- include ('partials/_head.html')%>
        <title>Recuperar Contraseña</title>
</head>

<body style="background: -webkit-linear-gradient(left, #1dc75e, #00c6ff);">
    <%- include ('partials/_nav.html')%>
        <div id="recoverPassword" class="container register" style="display: block">
            <div class="row">
                <div class="col-md-9 register-right" style="position: relative;">
                    <a href="/login">
                        <i id="backArrow" class="fas fa-arrow-left fa-3x"
                            style="position: absolute; left: 70px; top: 30px; cursor: pointer;"></i>
                    </a>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Recuperar Contraseña</h3>
                            <div class="row register-form">
                                <div class="col-md-12">
                                    <select id="methodSelector" class="form-select form-group"
                                        aria-label="Seleccionar Metodo">
                                        <option selected>Seleccionar Metodo</option>
                                        <option value="mail">Mail</option>
                                        <option value="secQuestion">Pregunta de seguridad</option>
                                    </select>
                                    <div id="mail" class="col-md-12 not-show">
                                        <input class="flex-grow-1 form-control" type="email"
                                            placeholder="Ingresa tu mail">
                                    </div>
                                    <div id="secQuestion" class="not-show">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden" selected disabled>Pregunta de Seguridad</option>
                                                <option>¿Fecha de cumpleaños?</option>
                                                <option>¿Tu mejor amigo de la infancia?</option>
                                                <option>¿Nombre de tu mascota?</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ingresa tu respuesta"
                                                value="" />
                                        </div>
                                    </div>
                                    <input type="submit" class="btnRegister" style="background-color: #2bb35f"
                                        value="Ok" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<script>
    document
        .getElementById('methodSelector')
        .addEventListener('change', function () {
                var show = document.querySelector('.showForm'),   
                    target = document.getElementById(this.value);
                if (show !== null) {
                    console.log(show)
                    show.classList.add('not-show');     
                    show.classList.remove('showForm')               
                }
                if (target !== null ) {
                    target.classList.remove('not-show');
                    target.classList.add('showForm');
                }
        });
</script>
</html>